<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>TinyTpl Demo View</title>
  </head>
  <body>
  
    <ul>
        <li>
            <strong>Users list with foreach</strong>
        </li>  
        <?php foreach($this->users AS $user): ?>
            <?php echo $this->render("views/user.html", $user) ?>
        <?php endforeach; ?>
        
        <li style='margin-top:20px'>
            <strong>Users list with renderAr</strong>
        </li>  
        <?php echo $this->renderAr("views/user.html", $this->users) ?>
        
    </ul>
    <p>Tpl finished!</p>

  </body>
</html>
